{% extends 'account/base.html' %}
{% load static %}
{% block main %}
<div class="bg0 p-t-95 p-b-50">
    <div class="container">
        <div class="row">
            <div class="col-md-6 p-b-50">
                <div class="p-r-15 p-rl-0-lg">
                    <h4 class="txt-m-124 cl3 p-b-28">
                        Login
                    </h4>
                    {% if form.errors %}
                    <p style="color:red;">
                        Your username & password didn't match.
                    </p>
                    {% else %}
                    <p> Please use the following form to login.</p>
                    {% endif %}
                    <form action="{% url 'login' %}" method="POST" class="how-bor3 p-rl-30 p-tb-32">
                        {{ form.as_p }}
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="flex-w flex-m p-t-15 p-b-10">
                            <button type="submit" class="flex-c-m txt-s-105 cl0 bg10 size-a-39 hov-btn2 trans-04 p-rl-10 m-r-18">
                                Login
                            </button>
                            <div class="flex-w flex-m p-tb-8">
                                <input id="check-creatacc" class="size-a-35 m-r-10" type="checkbox" name="creatacc">
                                <label for="check-creatacc" class="txt-s-101 cl9">
                                    Create an account?
                                </label>
                            </div>
                        </div>
                        <a href="#" class="txt-s-101 cl9 hov-cl10 trans-04">
                            Lost your password?
                        </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}